
body {
    margin: 1px;	
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.aw-content {
    padding: 0 0;
    margin-top: 20px;
    
}
h3{
    padding-bottom: 25px;
}
.form{
    margin: 0 0 0 0;
    font-size: 14px;
}

.form input, .ui-outputlabel, .ui-selectonemenu, .ui-selectoneradio, .ui-inputtextarea {
    margin: 0 0 10px 0!important;
}

.form button{
     margin: 8px 0 0 0!important;
}
.ui-menubar{
    font-size: 16px !important;
}
.ui-messages{
    
    font-size: 14px !important;
}

.aw-page-title {
    
    margin: 0px 0px 10px 12px;   
    font-size: 15px;
    color: #373737;
  
}

.ui-toolbar{
    margin:10px 0 0 0 !important;
    padding: 3px 0 3px 0 !important;
    font-size: 14px !important;
}

.ui-panelgrid.panelgrid-noborder .ui-grid-responsive {
    border: none;
    margin:20px 0 0 0 !important;
}

.ui-datatable, .ui-datatable td, .ui-datatable td div,  .ui-datatable th{
   
    font-size: 14px !important;
    margin-top: 0px !important;
}

.ui-picklist .ui-picklist-list {
    height: 500px !important;
    width: 300px !important;
    margin: 0 !important;
    overflow: auto !important;
    padding: 0 !important;
}

